@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

@font-face {
  font-family: "LEDFont";
  src: url('./fonts/digital-readout.heavy.ttf');
}

#root {
  --baseFontFace: Barlow;
  padding: 0;
  margin: 20px;
  width: 100%;
}



@keyframes neonShimmerPlayer {
  from {
    border-color: chartreuse;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px chartreuse,
      0 0 70px chartreuse, 0 0 80px chartreuse;
  }

  50% {
    border-color: chartreuse;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px chartreuse,
      0 0 35px chartreuse, 0 0 40px chartreuse;
  }

  to {
    border-color: chartreuse;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px chartreuse,
      0 0 70px chartreuse, 0 0 80px chartreuse;
  }
}

body {
  margin: auto;
  padding: 0;
  width: 90%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(purple, black);
  font-family: "Barlow", "Alumni Sans", "Arial";
  color: orchid;
}



@keyframes headerGlow {
  from {
    text-shadow: 0 0 4px purple, 0 0 8px purple, 0 0 16px purple, 0 0 32px purple, 0 0 48px purple
  }

  50% {
    text-shadow: 0 0 1px purple, 0 0 2px purple, 0 0 4px purple, 0 0 8px purple, 0 0 12px purple
  }

  to {
    text-shadow: 0 0 4px purple, 0 0 8px purple, 0 0 16px purple, 0 0 32px purple, 0 0 48px purple
  }
}


header>h1 {
  font-family: "Neonderthaw", "Arial";
  font-size: 60px;
  text-align: center;
  color: pink;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: headerGlow;
}

.trackname {
  background: purple;
  color: white;
  text-align: center;
  border-radius: 8px;
  height: 40px;
  box-shadow: 2px 2px 4px 0px white;
}

.trackfield,
.activeTrackfield {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-width: 8px;
  border-radius: 50px;
  border-style: solid;
  background-image: radial-gradient(purple, black);
}

.trackfield>*,
.activeTrackfield>* {
  padding: 10px;
  margin: 10px;
}

.trackfield {
  border-color: rgba(128, 255, 0, 0.212);

}

.activeTrackfield {
  border-color: chartreuse;
  animation: neonShimmerPlayer;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.trackcontainer {
  display: flex;
  padding: 10px;
  box-sizing: content-box;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  border-radius: 50px;
  border-width: 10px;
  background-image: radial-gradient(black, purple);
}

fieldset>legend {
  margin-left: 30px;
  padding: 0px;
}

.lowerFieldSet {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-width: 8px;
  border-radius: 50px;
  border-style: solid;
  border-color: purple;
  background-image: radial-gradient(purple, black);
  margin: auto;


}

.lowerFieldSet>button {
  margin: 10px;
  padding: 10px;
  background-color: purple;
  color: white;
  font-size: x-large;
}


@keyframes counterGlow {
  from {
    color: chartreuse;
    text-shadow: 0 0 2px white, 0 0 5px white
  }

  50% {
    color: chartreuse;
    text-shadow: 0 0 10px white, 0 0 20px white
  }

  to {
    color: chartreuse;
    text-shadow: 0 0 2px white, 0 0 5px white
  }
}


@keyframes counterFinal {
  from {
    opacity: 1;
    color: red;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.1;
  }

  40% {
    opacity: 1;
  }

  50% {
    color: red;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    opacity: 0.1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.1;
  }

  to {
    color: red;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff;
    opacity: 1;
  }

}

.counterStandard,
.counterFinal,
.tunePlayer {

  font-family: "LEDFont", "Courier New";
  font-size: 80px;
  line-height: 45px;
  margin: 10px;
  padding: 0px;
  color: white;
}

.counterStandard {
  animation: counterGlow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.counterFinal {
  animation: counterFinal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

button {
  border-style: solid;
  color: white;
  background: purple;
  font-family: "Barlow", "Arial";
  border-radius: 20px;
}

.welcomeHighscoreContainer {
  display: flex;
  padding: 10px;
  box-sizing: content-box;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  border-radius: 50px;

  border: 10px solid;
  background-image: radial-gradient(black, purple);
  padding: 20px;
  margin: 20px;
  align-content: center;
}

.welcomeHighScoreTable,
.welcomeUserHighScoreTable {
  padding: 0 20px;
  margin: 20px;
  font-family: LEDFont;
  font-size: 30px;
  border: solid;
  border-radius: 50px;
  border-collapse: collapse;
}

.welcomeHighScoreTable>td,
.welcomeUserHighScoreTable>td,
.welcomehighScoreTable>th,
.welcomeuserHighScoreTable>th {
  border-left: 2px solid;
  border-right: 2px solid;
  text-align: right;
  border-collapse: collapse;
  padding-left: 6px;
  padding-right: 6px;
}

.welcomeMain {
  display: block;
  width: 100%;
  align-content: center;
}

.welcomeMain>button {
  font-size: 60px;
}

.resultsMain {
  display: flex;
  padding: 10px;
  box-sizing: content-box;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  border-radius: 50px;
  font-size: 20px;
  background-image: radial-gradient(black, purple);
  padding: 20px;
  margin: 20px;
  align-content: center;
}

.resultsTable {
  padding: 0 20px;
  margin: 20px;
  font-family: LEDFont;
  font-size: 30px;
  border: solid;
  border-radius: 50px;
  border-collapse: collapse;
}

.resultsTable>th,
.resultsTable>td {
  border-left: 2px solid;
  border-right: 2px solid;
  text-align: right;
  border-collapse: collapse;
  padding-left: 6px;
  padding-right: 6px;
  margin: 10px;
  padding: 10px;
}

.resultsMain>button {
  font-size: 60px;
}