@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

@font-face {
  font-family: "LEDFont";
  src: url('./fonts/digital-readout.heavy.ttf');
}

@keyframes neonShimmerPlayer {
  from {
    border-color: chartreuse;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px chartreuse,
      0 0 70px chartreuse, 0 0 80px chartreuse;
  }

  50% {
    border-color: chartreuse;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px chartreuse,
      0 0 35px chartreuse, 0 0 40px chartreuse;
  }

  to {
    border-color: chartreuse;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px chartreuse,
      0 0 70px chartreuse, 0 0 80px chartreuse;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(purple, black);
  font-family: "Barlow", "Alumni Sans", "Arial";
  color: orchid;
}

button {
  border-style: none;
  font-family: "Barlow", "Arial";
  border-radius: 20px;
}

@keyframes headerGlow {
  from {
    text-shadow: 0 0 4px purple, 0 0 8px purple, 0 0 16px purple, 0 0 32px purple, 0 0 48px purple
  }

  50% {
    text-shadow: 0 0 1px purple, 0 0 2px purple, 0 0 4px purple, 0 0 8px purple, 0 0 12px purple
  }

  to {
    text-shadow: 0 0 4px purple, 0 0 8px purple, 0 0 16px purple, 0 0 32px purple, 0 0 48px purple
  }
}


h1 {
  font-family: "Neonderthaw", "Arial";
  font-size: 60px;
  text-align: center;
  color: pink;
  background: none;
  padding: 0;
  margin: 0;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: headerGlow;
}

.trackName {
  background: black;
  text-align: center;
  border-radius: 8px;
  height: 40px;
}

.trackfield,
.activeTrackfield {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-width: 8px;
  border-radius: 50px;
  border-style: solid;
  background-image: radial-gradient(purple, black);
}

.trackfield>*,
.activeTrackfield>* {
  padding: 10px;
  margin: 10px;
}


.trackfield {
  border-color: rgba(128, 255, 0, 0.212);
}

.activeTrackfield {
  border-color: chartreuse;
  animation: neonShimmerPlayer;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* box-shadow: inset 2px 2px 5px 2px grey; */
}

.trackcontainer {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 50px;
  border-width: 10px;
  width: 1280px;
  background-image: radial-gradient(black, purple);
  justify-content: space-evenly;
}

fieldset>legend {
  margin-left: 30px;
  padding: 0px;
}

.lowerFieldSet {
  display: flex;
  flex-direction: row;
  width: 200px;
  border-width: 8px;
  border-radius: 50px;
  border-style: solid;
  background-image: radial-gradient(purple, black);
}

.lowerFieldSet>button {
  margin: 10px;
  padding: 10px;
  background-color: purple;
  color: white;
}


@keyframes counterGlow {
  from {
    color: chartreuse;
    text-shadow: 0 0 2px white, 0 0 5px white
  }

  50% {
    color: chartreuse;
    text-shadow: 0 0 10px white, 0 0 20px white
  }

  to {
    color: chartreuse;
    text-shadow: 0 0 2px white, 0 0 5px white
  }
}


@keyframes counterFinal {
  from {
    opacity: 1;
    color: red;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.1;
  }

  40% {
    opacity: 1;
  }

  50% {
    color: red;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    opacity: 0.1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.1;
  }

  to {
    color: red;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff;
    opacity: 1;
  }

}

.counterStandard,
.counterFinal,
.tunePlayer {

  font-family: "LEDFont", "Courier New";
  font-size: 80px;
  line-height: 45px;
  margin: 10px;
  padding: 0px;
  color: white;
}

.counterStandard {
  animation: counterGlow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.counterFinal {
  animation: counterFinal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}