@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

@font-face {
  font-family: LEDFont;
  src: url('../../../resources/fonts/digital-readout.heavy.ttf');
}



@keyframes neonShimmerPlayer {
  from {
    border-color: chartreuse;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px chartreuse,
      0 0 70px chartreuse, 0 0 80px chartreuse;
  }

  50% {
    border-color: chartreuse;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px chartreuse,
      0 0 35px chartreuse, 0 0 40px chartreuse;
  }

  to {
    border-color: chartreuse;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px chartreuse,
      0 0 70px chartreuse, 0 0 80px chartreuse;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(purple, black);
  ;
  font-family: "Alumni Sans", "Arial";
  color: orchid;
}

button {
  border-style: solid;
  font-family: "Alumni Sans", "Arial";
}

select {
  font-family: "Alumni Sans", "Arial";
}

h1 {
  text-align: center;
}

.trackName {
  background: black;
  text-align: center;
  border-radius: 8px;
  height: 40px;
}

.trackfield,
.activeTrackfield {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 200px;
  margin: 1em;
  padding: 1em;
  border-width: 8px;
  border-radius: 50px;
  border-style: solid;
  background-image: radial-gradient(purple, black);
}

.trackfield {
  border-color: rgba(128, 255, 0, 0.212);
}

.activeTrackfield {
  border-color: chartreuse;
  animation: neonShimmerPlayer;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* box-shadow: inset 2px 2px 5px 2px grey; */
}

.trackcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 50px;
  border-width: 10px;
  width: fit-content;
  background-image: radial-gradient(black, purple);
  justify-content: space-evenly;
}

fieldset>legend {
  margin-left: 30px;
  padding: 0px;
}

.lowerFieldSet {
  display: flex;
  flex-direction: row;
  width: 200px;
  border-width: 8px;
  border-radius: 50px;
  border-style: solid;
  background-image: radial-gradient(purple, black);
}

.lowerFieldSet>button {
  margin: 10px;
  padding: 10px;
  background-color: purple;
  color: white;
}


@keyframes counterGlow {
  from {
    color: chartreuse;
    text-shadow: 0 0 2px white, 0 0 5px white
  }

  50% {
    color: chartreuse;
    text-shadow: 0 0 10px white, 0 0 20px white
  }

  to {
    color: chartreuse;
    text-shadow: 0 0 2px white, 0 0 5px white
  }
}


@keyframes counterFinal {
  from {
    opacity: 1;
    color: red;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.1;
  }

  40% {
    opacity: 1;
  }

  50% {
    color: red;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    opacity: 0.1;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.1;
  }

  to {
    color: red;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff;
    opacity: 1;
  }

}

.counterStandard,
.counterFinal {
  font-family: "LEDFont", "Courier New";
  font-size: 80px;
  margin: 10px;
  padding: 0px;
  color: white;
}

.counterStandard {
  animation: counterGlow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.counterFinal {
  animation: counterFinal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}